<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>会員情報編集</h2>

      <%= form_with model: @user, url: user_registration_path do |f| %>
        <%= render "user/shared/error_messages", resource: resource %>

        <table>
          <tr>
            <th align="left">ユーザー名</th>
            <td>
              <div class="field">
                <%= f.text_field :name, autofocus: true, class: "form-control" %>
              </div>
            </td>
          </tr>
          <tr>
            <th align="left">メールアドレス</th>
            <td>
              <div class="field">
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>
            </td>
          </tr>
        </table>
        <div class="actions">
          <%= f.submit "編集内容を保存", class:"btn btn-success" %>
        </div>
      <% end %>
      <div><%= link_to "退会する", users_check_path, class: "btn btn-danger" %></div>
    </div>
  </div>
</div>