<div class="container">
  <div class="row">
    <div class="col-12 mx-5">
      <h2>新規登録</h2>
      <%= form_with model: @user, url: user_registration_path do |f| %>
        <%= render "user/shared/error_messages", resource: resource %>
        <table>
          <tr>
            <th align="left">ユーザー名</th>
            <td>
              <div class="field">
                <%= f.text_field :name, autofocus: true, class: "form-control" %>
              </div>
            </td>
          </tr>
          <tr>
            <th align="left">メールアドレス</th>
            <td>
              <div class="field">
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>
            </td>
          </tr>
          <tr>
            <th align="left">パスワード(6文字以上)</th>
            <td>
              <div class="field">
                <%= f.password_field :password, autocomplete: "new-password" %>
              </div>
            </td>
          </tr>
          <tr>
            <th align="left">パスワード（確認用）</th>
            <td>
              <div class="field">
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div>
            </td>
          </tr>
        </table>
        <div class="actions">
          <%= f.submit "登録", class:"btn btn-success" %>
        </div>
      <% end %>
      <h3>既に登録済みの方</h3>
      <%= render "user/shared/links" %>
    </div>
  </div>
</div>
