<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render "user/side_bar" %>
    </div>
    <div class="col-8">
      <h1>投稿編集</h1>

      <%= form_with model: @post do |f| %>
        <label for="inputTitle">タイトル</label><br>
        <%= f.text_field :title, autofocus: true, id:"inputTitle" %><br>

        <label for="inputContent">本文</label><br>
        <%= f.text_area :content, autofocus: true, id:"Content" %><br>

        <div>
         <%= f.label :is_published_flag, "公開", value: true %>
         <%= f.radio_button :is_published_flag, 'true' %>
        </div>
        <div>
          <%= f.label :is_published_flag, "非公開", value: false %>
          <%= f.radio_button :is_published_flag,'false' %>
        </div>
        <%= f.submit '更新する' %>

      <% end %>

      <%= link_to "詳細", post_path(@post) %> |
      <%= link_to "戻る", posts_path %>
    </div>
  </div>
</div>