<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render "user/side_bar" %>
    </div>
    <div class="col-8">
      投稿詳細
      <h4>Title:</h4>
      <p><%= @post.title %></p>

      <h4>Content:</h4>
      <p><%= @post.content %></p>



      <%= link_to "編集", edit_post_path(@post) %> |
      <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" %> |
      <%= link_to "戻る", posts_path %>

      <div>
        <% if @post.liked?(current_user) %>
          <%= link_to post_likes_path(@post.id), method: :delete do %>
            <span style="color:red;">❤︎</span>
          <% end %>
        <% else %>
          <%= link_to post_likes_path(@post.id), method: :post do %>
            <span>❤︎</span>
          <% end %>
        <% end %>
      </div>

      <div>
        <p>コメント件数：<%= @post.comments.count %></p>
        <% @post.comments.each do |comment| %>
          <p><%= image_tag comment.user.get_user_image(100,100) %></p>
          <%= comment.user.name %>
          <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.content %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@post, @comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>


        <% if @comment.user == current_user %>
          <%= link_to "削除", '/posts/:post_id/comments/:id', method: :delete %>
        <% end %>

      </div>
    </div>
  </div>
</div>