<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render "user/side_bar" %>
    </div>
    <div class="col-8">
      投稿詳細
      <h4>Title:</h4>
      <p><%= @post.title %></p>

      <h4>Content:</h4>
      <p><%= @post.content %></p>

      <h4>Tags:</h4>
      <p><%= @post.tag_names %></p>

      <%= form_with(model: @post, url: toggle_published_post_path(@post), method: :put) do |form| %>
        <%= form.submit '公開・非公開切り替え' %>
      <% end %>

      <% if user_signed_in? %>
        <% if current_user.likes.find_by(post: @post) %>
          <%= link_to '❤︎', post_likes_path(@post), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to '♡', post_likes_path(@post), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>



      <%= link_to "編集", edit_post_path(@post) %> |
      <%= button_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" %> |
      <%= link_to "戻る", posts_path %>




      <% @post.comments.each do |comment| %>
        <p><strong><%= comment.user.name %>:</strong> <%= comment.content %></p>
      <% end %>
    </div>
  </div>
</div>