<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render "user/side_bar" %>
    </div>
    <div class="col-8">
      投稿詳細
      <h4>Title:</h4>
      <p><%= @post.title %></p>

      <h4>Content:</h4>
      <p><%= @post.content %></p>

      <h4>Tags:</h4>
      <p><%= @post.tag_names %></p>

      <%= form_with(model: @post, url: toggle_published_post_path(@post), method: :put) do |form| %>
        <%= form.submit '公開・非公開切り替え' %>
      <% end %>



      <%= link_to "編集", edit_post_path(@post) %> |
      <%= button_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" %> |
      <%= link_to "戻る", posts_path %>

      <% if @post.liked_by?(current_user) %>
        <p>
          <%= link_to post_like_path(@post), method: :delete do %>
            ♥<%= @post.likes.count %> いいね
          <% end %>
        </p>
        <% else %>
        <p>
          <%= link_to post_like_path(@post), method: :post do %>
            ♡<%= @post.likes.count %> いいね
          <% end %>
        </p>
      <% end %>


      <% @post.comments.each do |comment| %>
        <p><strong><%= comment.user.name %>:</strong> <%= comment.content %></p>
      <% end %>
    </div>
  </div>
</div>