<!DOCTYPE html>
<html>
  <head>
    <title>TheaterPier</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- ã‚¨ãƒ©ãƒ¼ãŒå‡ºã‚‹ãŸã‚ä¸Šè¨˜ã‚’_link_ã‹ã‚‰_pack_ã«å¤‰æ›´ã—ã€ä¸‹è¨˜ã‚’ã‚³ãƒ¡ãƒ³ãƒˆã‚¢ã‚¦ãƒˆã§ -->
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
          <%= render 'layouts/user_header' %>
        <% elsif admin_signed_in? %>
          <%= render 'layouts/admin_header' %>
        <% else %>
          <%= render 'layouts/header' %>
        <% end %>

      <div class="search_form">
        <div class="col-8">
          <div class="row justify-content-end my-2">
            <%= text_field_tag :search %>
            <%= submit_tag "ðŸ”Ž", class: "btn btn-light" %>
          </div>
        </div>
      </div>

    </header>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
